@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#parentDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 227, 232, 0.688);
  flex-wrap: wrap;
  margin-top: 10px;
  border-width: 4px;
  width: 25rem;
  height: 70%;
  border-radius: 12px;
}

#main_div input {
  border-radius: 4px;
  padding: 12px 10px;
  border: 1px solid rgb(178, 186, 210);
  width: 350px;
}

#main_div label {
  font-weight: bold;
  font-size: 18px;
}

#main_div input:focus {
  outline: 0;
  border-color: rgb(30, 73, 203);
}

.form_error {
  color: rgb(228, 41, 41);
}

#submit_btn {
  width: 350px;
  height: 55px;
  cursor: pointer;
  background-color: rgb(77, 138, 218);
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

#submit_btn:hover {
  background-color: rgb(30, 73, 203);
}

.formError {
  color: red;
}
